
@{
    ViewBag.Title = "GetMethod";
}

<h2>GetMethod</h2>
<form action="/Home/GetMethod" method="get" >

    <div class="form-group">
        <label for="id">id</label>
        <input type="number" class="form-control" id="id" name="id">
    </div>

    <div class="form-group">

        <input class="btn btn-primary" type="submit" value="Save" />
    </div>

</form>