
@{
    ViewBag.Title = "GetMethod";
}

<h2>GetMethod</h2>
@Model

<form action="/Home/GetMethod3" method="get">

    <div class="form-group">
        <label for="id">put your id</label>
        <input type="number" class="form-control" id="id" name="id">
    </div>

    <div class="form-group">

        <input class="btn btn-primary" type="submit" value="Save" />
    </div>

</form>