
@{
    ViewBag.Title = "test2";
}

<h2>test2</h2>
<script src="~/TypeScripts/file2.js"></script>
<script src="~/TypeScripts/file3.js"></script>
<script>
    var city = new City();
    var Adr_str = new Adresse();

    city.City_Name = "Tunis ";
    alert(city.City_Name);
    city.Validate();



</script>

