
@{
    ViewBag.Title = "ViewForTypeScripts";
}

<h2>ViewForTypeScripts</h2>




<script src="~/TypeScripts/HelloWorld.js"></script>
<script src="~/TypeScripts/file1.js"></script>
<p id="kiki"> </p>
<script>
    var cust = new Customer();
    cust.CustomerName = "kawthar jmaiel";
    alert(cust.CustomerName);
    cust.Validate();

    var cust2 = new Second_Customer();
    cust2.CustomerName = "Habib jmaiel";
    alert(cust2.CustomerName);
    cust2.Validate();



</script>

